.weather {
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(15, 5, 5);
  font-family: Arial, Sans-Serif;
  background: radial-gradient(
    263px at 100.2% 3%,
    rgb(12, 85, 141) 31.1%,
    rgb(205, 181, 93) 36.4%,
    rgb(244, 102, 90) 50.9%,
    rgb(199, 206, 187) 60.7%,
    rgb(249, 140, 69) 72.5%,
    rgb(83, 118, 224) 72.6%
  );
}
.weather h1 {
  font-size: 24px;
  font-family: Arial, Sans-Serif;
  display: block;
  margin: 20px 0 0 0;
  font-weight: bold;
  line-height: 29px;
}
.weather ul {
  margin: 0;
  padding: 0;
}
.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 54px;
  font-weight: bold;
  font-weight: 400;
  line-height: 64px;
  margin-left: 5px;
}
.weather .canvas {
  margin: 10px auto;
}
.weather .unit {
  color: #202124;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
  margin-left: 0;
}
